streamlit
langchain
langchain-community
langchain-openai
langchain-chroma
google-generativeai
google-api-python-client
chromadb
requests
beautifulsoup4
python-dotenv
openai
protobuf == 3.20.1
duckdb
pyarrow