streamlit
langchain==0.1.11
langchain-community==0.0.27
langchain-openai==0.0.8
langchain-chroma
google-generativeai==0.3.2
google-api-python-client==2.122.0
chromadb
requests==2.31.0
beautifulsoup4==4.12.3
python-dotenv==1.0.1
openai==1.14.1
protobuf==3.20.3
duckdb
pyarrow==15.0.0